<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Currency converter</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
		.basket{
			width: 100px;
		}
	</style>
</head>
<body>
	<form>
		<input type="input" name="base" placeholder="usd">
		<input type="input" name="convert" placeholder="btc">
		<button name="submit">Add</button>
	</form>
	<div>btc = <span id="price"></span> usd</div>
	<div id="basket" style="float: right;" width="100px">
	</div>

	<script type="text/javascript">
		$(function () {
			let request = {	// Request fresh btc-usd rate
				method: "GET",
				url: "https://api.cryptonator.com/api/ticker/btc-usd",
				dataType: "json"
			}

			let basket = [] // Where currencies are stored
			let base = $("input[name=base]");
			let convert = $("input[name=convert]")

			$("button[name=submit]").click(function (e) {
				e.preventDefault();
				$.ajax({
					method: "GET",
					url: "https://api.cryptonator.com/api/ticker/"+convert.val()+"-"+base.val(),
					dataType: "json"
				}).done(function (json) {
					if(!json.success) {	// Check for validity
						alert("Currencies does not exist")
					}
					else {
						basket.push( [ base.val(), convert.val() ])	// Add new pair of currencies in stack
						$(".basket").remove()	// Clear basket
						basket.forEach(function(i) { // Fill basket
							$("#basket").append("<div class='basket'> "+i[0]+" - "+i[1]+" </div>")
						}) 
					}
				})
			})

			$.ajax(request).done(function (json) {	// Check rates before first refresh
				$("#price").html(json.ticker.price)
				$.ajax({	// Save current rate into database
					method: "GET",
					url: "/save",
					data: {price: json.ticker.price},
					dataType: "json"
				})
			})

		setInterval(function () { // Refresh rates every 10 secs
			$.ajax(request).done(function (json) {
				$("#price").html(json.ticker.price)
				$.ajax({	// Save current rate into database 
					method: "GET",
					url: "/save",
					data: {price: json.ticker.price},
					dataType: "json"
				})
			})
		},1000*10)

		})
	</script>

</body>
</html>